/* about.css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    font-family: 'Krona One', sans-serif;
}

.about-split-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
}

.about-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    font-size: 32px;
    color: #ffffff;
    writing-mode: vertical-lr;
}

.about-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-main-text {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-sub-text {
    font-size: 16px;
    color: #aaa;
}

.about-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #151313;
    color: #ffffff;
    font-size: 18px;
}

.about-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}


.about-title {
    margin-top: 60px;
    font-size: 48px;
    font-weight: normal;
    background: linear-gradient(90deg, #245AAB, #253E62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    text-align: center}




.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-bottom: 320px;
}

.search-input {
    width: 100%;
    padding: 10px 15px 10px 70px;
    font-size: 16px;
    border: 2px solid #7D9EF1;
    border-radius: 30px;
    outline: none;
}

.search-input::placeholder {
    color: #aaa;
}

.search-icon {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #7D9EF1; /* 정상 사이트 색상 */
}

.content-box {
    width: 55%;
    background-color: rgba(29, 29, 29, 0.33);
    border: 1px solid #494949;
    border-radius: 15px;
    padding: 40px 80px;
    margin-top: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.about-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.upper-section {
    font-family: 'Freesentation-9Black', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

/*.left-section, .right-section {*/
/*    width: 60%;*/
/*}*/

.section-title {
    margin-bottom: 10px;
    color: #245AAB;
}

.left-section {
    flex: 5;
    /*width: 30%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}

.url-risk {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.url-risk-dot {
    width: 10px;
    height: 10px;
    background-color: #245AAB;
    border-radius: 50%;
    margin-right: 10px;
}

.status-url-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
    flex-shrink: 1; /* 부모 크기를 넘지 않도록 축소 가능 설정 */
}

.status-box {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(36, 90, 171, 0.13); /* 투명도 13% */
    border: 2px solid #245AAB;
    color: #245AAB;
    font-size: 16px;
}

.url-display {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.url-text {
    font-size: 16px;
    color: #245AAB;
}

.url-display p {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin: 5px;
}

.url-search-icon {
    margin-left: 5px;
}

.phishing-probability-box {
    font-size: 14px;
    color : #ffffff;
    border: 1px solid;
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline-block;
}

.ip-risk {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ip-risk-dot {
    width: 10px;
    height: 10px;
    background-color: #245AAB;
    border-radius: 50%;
    margin-right: 10px;
}

.right-section {
    flex:5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 위와 아래 간격 조정 */
    /*width: 45%;  !* 전체 너비 사용 *!*/

}

.ip-region-wrapper {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 간격 설정 */
    margin-top: 5px;
    width: 100%; /* 전체 너비 사용 */
}

.left-ip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;
}

.ip-text {
    color: #245AAB;
}

.right-info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.right-info p{
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left:20px;
}